    
    <!-- Post slider of the page -->
    <section class="posts-slider" style="background-image: url(https://destinationseekers.co.uk/assets/images/website_188-multiimage_99291_background-itinerary.png-BasicCrop-size-1920x550.jpg);">
        <div class="container">
            <div class="row">
                <div class="center-slider mask">
                    
                    {% for singlePost in postList%}
                         <!-- slide of the page -->
                    <article class="slide">
                        <div class="slide-holder">
                            <div class="img-holder">
                                <img src="{{singlePost.image.url}}" alt="image description">
                            </div>
                            <h2><a href="#">{{singlePost.title}}</a></h2>
                            <time datetime="2011-01-12"><a href="#">{{singlePost.date}}</a></time>
                            <a href="#" class="read-more">Continue Reading</a>
                        </div>
                    </article>
                    <!-- slide of the page end -->
                    {% endfor %}
                   

                </div>
            </div>
        </div>
    </section>
    <!-- Post slider of the page end -->
