<!-- Posts Blocks of the page -->
<section class="posts-blocks">

    {% for singlePost in pageObjects%}
    <!-- Post Block of the page -->
    <article class="post-block wow fadeInUp" data-wow-delay="0.6s">
        <div class="post-holder">
            <div class="img-holder">
                <a href="{% url 'blog:detail' singlePost.slug %}"><img src="{{singlePost.image.url}}" alt="image description"></a>
            </div>
            <time datetime="2011-01-12"><a href="{% url 'blog:detail' singlePost.slug %}">{{singlePost.date}}-{{singlePost.category}}</a></time>
            <h2><a href="{% url 'blog:detail' singlePost.slug %}">{{singlePost.title}}</a></h2>
            <p>{{singlePost.content|truncatechars:80}}</p>
            <a href="{% url 'blog:detail' singlePost.slug %}" class="read-more">Read more</a>
            <footer>
                <strong class="text comment-count"><span class="icon ico-comment"></span><a href="#">25 comments</a></strong>
                <strong class="text share-count"><span class="icon ico-share"></span><a href="#">138 shares</a></strong>
            </footer>
        </div>
    </article>
    <!-- Post Block of the page end -->
    {% endfor%}
    


</section>
<!-- Posts Blocks of the page end -->

      <!-- Navigation of the page -->
      <nav role="navigation" class="navigation pagination">
        <div class="nav-links">

            {% if pageObjects.has_previous %}
            <a href="?page=1" class="prev page-numbers">First</a>
            <a href="?page={{pageObjects.previous_page_number}}" class="prev page-numbers">Prev post.</a>
            {% endif %}
            
            
            <a href="#" class="page-numbers current">{{pageObjects.number}} / {{pageObjects.paginator.num_pages}}</a>
            
            {% if pageObjects.has_next %}
            <a href="?page={{pageObjects.next_page_number}}" class="next page-numbers">NEXT post.</a>
            <a href="?page={{pageObjects.paginator.num_pages}}" class="prev page-numbers">Last</a>
            {% endif %}

        </div>
    </nav>
    <!-- Navigation of the page end -->
