{% extends "base.html" %}


{% block title %}Archive {% endblock title %}


{% block mainContent %}
<main id="main" role="main">
    {% include 'components/archive/arch_header.html' %}
    <div id="twocolumns" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-header">
                    <strong class="title">Showing post for “Travel”</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Content of the page -->
            <div id="content" class="col-xs-12 col-md-8 ">
                {% include 'components/search_mob.html' %}
                
                {% include 'components/profile_mob.html' %}

                {% include 'components/blog/post_blog.html' %}
                
                <!-- Navigation of the page end -->
            </div>
            <!-- Sidebar of the page -->
            <aside id="sidebar" class="col-xs-12 col-md-4 ">
                {% include 'components/profile.html' %}
                {% include 'components/search.html'%}
                
                {% include 'components/archive/recent_post.html'%}

                {% include 'components/advert.html'%}

                {% include 'components/category.html' %}
            </aside>
            <!-- Sidebar of the page end -->
        </div>
    </div>
    {% include 'components/img_slider.html'%}
</main>
{% endblock mainContent %}