{% extends "base.html" %}


{% block title %}{{lang.navDetailTitle}} {% endblock title %}


{% block mainContent %}
<!-- Main of the page -->
<main id="main" role="main">
    <!-- Page Head of the page -->
    <header class="page-head wow fadeInUp" data-wow-delay="0.6s" style="background-image: url(http://placehold.it/1920x200);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Single Post v2</h1>
                    <ol class="breadcrumb">
                        <li><a href="home.html">Home</a></li>
                        <li class="active">Single Post</li>
                    </ol>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Head of the page end -->
    <div class="container">
        <div class="row">
            <!-- Content of the page -->
            <article id="content" class="col-xs-12 col-md-8">
                <!-- Single Postv2 of the page -->
                <div class="single-postv2 wow fadeInUp" data-wow-delay="0.6s">
                    <ul class="list-unstyled carousel">
                        <li>
                            <div class="slide">
                                <img src="http://placehold.it/685x335" alt="image description">
                            </div>
                        </li>
                        <li>
                            <div class="slide">
                                <img src="http://placehold.it/685x335" alt="image description">
                            </div>
                        </li>
                    </ul>
                    <!-- Center Block of the page -->	
                    <div class="center-block">
                        <time datetime="2011-01-12"><a href="#">25th May - Travel</a></time>
                        <h2><a href="single-postv2.html">Traveling is awesome if you can enjoy.</a></h2>
                        <div class="info">
                            <strong class="text"><span class="icon ico-user"></span><a href="#">David Ramon</a></strong>
                            <strong class="text"><span class="icon ico-comment"></span><a href="#">25 comments</a></strong>
                            <strong class="text"><span class="icon ico-share"></span><a href="#">138 shares</a></strong>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid untnibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim  veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo cons equat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
                        <div class="text-box">
                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
                        </div>
                        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigatio nes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus  dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                    </div>
                    <!-- Center Block of the page end -->
                </div>
                <!-- Single Postv2 of the page end -->
                <!-- Widget of the page -->	
                <div class="widget widget-block wow fadeInUp" data-wow-delay="0.6s">
                    <div class="alignleft round">
                        <a href="#"><img src="http://placehold.it/135x135" alt="David Ramon"></a>
                    </div>
                    <div class="text-holder">
                        <header>
                            <h2><a href="#">David Ramon</a></h2>
                            <span class="subtitle"><a href="#">www.davidramon.com</a></span>
                        </header>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
                        <!-- Social Network of the page -->
                        <ul class="social-networks">
                            <li><a href="#"><span class="ico-facebook"></span></a></li>
                            <li><a href="#"><span class="ico-twitter"></span></a></li>
                            <li><a href="#"><span class="ico-google-plus"></span></a></li>
                            <li><a href="#"><span class="ico-linkedin"></span></a></li>
                            <li><a href="#"><span class="ico-pinterest"></span></a></li>
                        </ul>
                        <!-- Social Network of the page end -->
                    </div>
                </div>
                <!-- Widget of the page end -->
                <!-- Recent Post of the page -->
                <section class="recent-posts wow fadeInUp" data-wow-delay="0.6s">
                    <header class="header">
                        <h2>Recent post</h2>
                        <p>you may love this post</p>
                    </header>
                    <ul>
                        <li>
                            <div class="holder">
                                <div class="img-holder"><img src="http://placehold.it/175x115" alt="image description"></div>
                                <h3><a href="single-postv2.html">I love to get up in morning to get adventure.</a></h3>
                                <time datetime="2011-01-12"><a href="#">23rd May, 2016</a></time>
                            </div>
                        </li>
                        <li>
                            <div class="holder">
                                <div class="img-holder"><img src="http://placehold.it/175x115" alt="image description"></div>
                                <h3><a href="single-postv2.html">I love to get up in morning to get adventure.</a></h3>
                                <time datetime="2011-01-12"><a href="#">23rd May, 2016</a></time>
                            </div>
                        </li>
                        <li>
                            <div class="holder">
                                <div class="img-holder"><img src="http://placehold.it/175x115" alt="image description"></div>
                                <h3><a href="single-postv2.html">I love to get up in morning to get adventure.</a></h3>
                                <time datetime="2011-01-12"><a href="#">23rd May, 2016</a></time>
                            </div>
                        </li>
                        <li>
                            <div class="holder">
                                <div class="img-holder"><img src="http://placehold.it/175x115" alt="image description"></div>
                                <h3><a href="single-postv2.html">I love to get up in morning to get adventure.</a></h3>
                                <time datetime="2011-01-12"><a href="#">23rd May, 2016</a></time>
                            </div>
                        </li>
                    </ul>
                </section>
                <!-- Recent Post of the page end -->
                <!-- Comments of the page -->
                <section class="section comments wow fadeInUp" data-wow-delay="0.6s">
                    <header class="header">
                        <h2>Comments on this post</h2>
                        <p>3 comments</p>
                    </header>
                    <!-- Comments List of the page -->
                    <div class="commentlist">
                        <!-- Comments List Item of the page -->
                        <div class="commentlist-item version-ii">
                            <div id="comment-2" class="comment even thread-even depth-1">
                                <div class="avatar-holder round">
                                    <img class="avatar avatar-48 photo avatar-default" src="http://placehold.it/55x55" alt="image description">
                                </div>
                                <div class="commentlist-holder">
                                    <p class="meta">
                                        <strong class="name"><a href="#">John Doe</a></strong>
                                        <a href="#"><time datetime="2011-01-12">2 hours ago</time></a>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat. <br>eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <p><a onclick="return addComment.moveForm(&quot;comment-2&quot;, &quot;1&quot;, &quot;respond&quot;, &quot;1&quot;)" href="https://flow-attachments.s3.amazonaws.com/?p=1&amp;replytocom=1#respond" class="comment-reply-link">REPLY</a></p>
                                </div>
                            </div>
                            <div class="commentlist-item version-ii">
                                <div id="comment-3" class="comment even thread-even depth-1">
                                    <div class="avatar-holder round">
                                        <img class="avatar avatar-48 photo avatar-default" src="http://placehold.it/50x50" alt="image description">
                                    </div>
                                    <div class="commentlist-holder">
                                        <p class="meta">
                                            <strong class="name"><a href="#">John Doe</a></strong>
                                            <a href="#"><time datetime="2011-01-12">2 hours ago</time></a>
                                        </p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat. <br>eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                        <p><a onclick="return addComment.moveForm(&quot;comment-3&quot;, &quot;1&quot;, &quot;respond&quot;, &quot;1&quot;)" href="https://flow-attachments.s3.amazonaws.com/?p=1&amp;replytocom=1#respond" class="comment-reply-link">REPLY</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Comments List Item of the page end -->
                        <!-- Comments List Item of the page -->
                        <div class="commentlist-item version-ii">
                            <div id="comment-4" class="comment even thread-even depth-1">
                                <div class="avatar-holder round">
                                    <img class="avatar avatar-48 photo avatar-default" src="http://placehold.it/55x55" alt="image description">
                                </div>
                                <div class="commentlist-holder">
                                    <p class="meta">
                                        <strong class="name"><a href="#">John Doe</a></strong>
                                        <a href="#"><time datetime="2011-01-12">2 hours ago</time></a>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat. <br>eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                                    <p><a onclick="return addComment.moveForm(&quot;comment-4&quot;, &quot;1&quot;, &quot;respond&quot;, &quot;1&quot;)" href="https://flow-attachments.s3.amazonaws.com/?p=1&amp;replytocom=1#respond" class="comment-reply-link">REPLY</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- Comments List Item of the page end -->
                    </div>
                    <!-- Comments List of the page end -->
                </section>
                <!-- Comments of the page end -->
                <!-- Comments Respond the page -->
                <section class="comment-respond version-ii wow fadeInUp" data-wow-delay="0.6s">
                    <header class="header">
                        <h3 class="comment-reply-title" id="reply-title">Leave a comment</h3>
                        <p>it’s easy to post a comment</p>
                    </header>
                    <!-- Comments Form of the page -->
                    <form class="comment-form" id="commentform" method="post" action="http://twitter.staging.com/wp-comments-post.php">
                        <div class="wrap three-inline">
                            <div class="comment-form-author">
                                <label for="author">Your name <span class="required">*</span></label>
                                <input type="text" placeholder="enter your name here" aria-required="true" size="30" name="author" id="author">
                            </div>
                            <div class="comment-form-email">
                                <label for="email">Email address <span class="required">*</span></label>
                                <input type="text" placeholder="enter your email address" aria-required="true" size="30" name="email" id="email">
                            </div>
                            <div class="comment-form-url">
                                <label for="url">Website</label>
                                <input type="text" placeholder="Website" size="30" name="url" id="url">
                            </div>
                        </div>
                        <div class="comment-form-comment">
                            <label for="comment">Comment <span class="required">*</span></label>
                            <textarea placeholder="your comment here" aria-required="true" cols="72" rows="3" name="comment" id="comment"></textarea>
                        </div>
                        <p class="form-allowed-tags hidden">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a
                 href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; 
                &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del 
                datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; 
                &lt;strong&gt; </code></p>
                        <div class="form-submit">
                            <input type="submit" value="Leave a comment" id="submit" name="submit">
                            <input type="hidden" id="comment_post_ID" value="1" name="comment_post_ID">
                            <input type="hidden" value="0" id="comment_parent" name="comment_parent">
                        </div>
                    </form>
                    <!-- Comments Form of the page end -->
                </section>
                <!-- Comments Respond of the page end -->
            </article>
            <!-- Content of the page end -->
            <!-- Sidebar of the page -->
            <aside id="sidebar" class="col-xs-12 col-md-4">
                <!-- Widget of the page -->
                <section class="widget profile-widget version-ii hidden-sm hidden-xs wow fadeInUp" data-wow-delay="0.6s">
                    <div class="profile-pic">
                        <a href="#">
                            <img src="http://placehold.it/180x180" alt="John Aston">
                        </a>
                    </div>
                    <h3><a href="#"><img src="images/text-jhon-aston.png" alt="jhon aston"></a></h3>
                    <p>Hi, I am John Aston. Duis autem vel eum dolor in hendrerit in vulputate velit esse mole consequat, vel illum dolore eu feugiat nulla lisis at vero eros et accumsan et iusto.</p>
                    <!-- Social Network of the page -->
                    <ul class="social-networks">
                        <li><a href="#"><span class="icon ico-facebook"></span></a></li>
                        <li><a href="#"><span class="icon ico-twitter"></span></a></li>
                        <li><a href="#"><span class="icon ico-google-plus"></span></a></li>
                        <li><a href="#"><span class="icon ico-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon ico-pinterest"></span></a></li>
                    </ul>
                    <!-- Social Network of the page -->
                </section>
                <!-- Widget of the page end -->
                <!-- Widget of the page -->
                <div class="widget widget_search hidden-sm hidden-xs wow fadeInUp" data-wow-delay="0.6s">
                    <form method="get" class="search-form" action="#">
                        <fieldset>
                            <input type="search" name="s" placeholder="Type to search here">
                            <button type="button" class="ico-search"></button>
                        </fieldset>
                    </form>
                </div>
                <!-- Widget of the page end -->
                <!-- Widget of the page -->
                <section class="widget recent-posts-widget version-ii wow fadeInUp" data-wow-delay="0.6s">
                    <header class="tab-head">
                        <h3><a class="active" href="#tab1">Recent Posts</a></h3>
                        <h3><a href="#tab2">Popular Posts</a></h3>
                    </header>
                    <div class="tab-content">
                        <div id="tab1">
                            <ul>
                                <li>
                                    <div class="alignleft">
                                        <img src="http://placehold.it/75x75" alt="image description">
                                    </div>
                                    <div class="descr">
                                        <h4><a href="single-post.html">Traveling is awesome if you <br>can enjoy.</a></h4>
                                        <span class="post-tag">
                                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="alignleft">
                                        <img src="http://placehold.it/75x75" alt="image description">
                                    </div>
                                    <div class="descr">
                                        <h4><a href="single-post.html">I get up in the morning looking <br>for an adventure.</a></h4>
                                        <span class="post-tag">
                                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="alignleft">
                                        <img src="http://placehold.it/75x75" alt="image description">
                                    </div>
                                    <div class="descr">
                                        <h4><a href="single-post.html">Holiday is awesome when loved <br>one beside me.</a></h4>
                                        <span class="post-tag">
                                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="tab2">
                            <ul>
                                <li>
                                    <div class="alignleft">
                                        <img src="http://placehold.it/75x75" alt="image description">
                                    </div>
                                    <div class="descr">
                                        <h4><a href="single-post.html">Holiday is awesome when loved <br>one beside me.</a></h4>
                                        <span class="post-tag">
                                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="alignleft">
                                        <img src="http://placehold.it/75x75" alt="image description">
                                    </div>
                                    <div class="descr">
                                        <h4><a href="single-post.html">Traveling is awesome if you <br>can enjoy.</a></h4>
                                        <span class="post-tag">
                                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="alignleft">
                                        <img src="http://placehold.it/75x75" alt="image description">
                                    </div>
                                    <div class="descr">
                                        <h4><a href="single-post.html">I get up in the morning looking <br>for an adventure.</a></h4>
                                        <span class="post-tag">
                                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- Widget of the page end -->
                <!-- Widget of the page -->
                <div class="widget promo-widget wow fadeInUp" data-wow-delay="0.6s">
                    <a href="#"><img src="http://placehold.it/370x415" alt="“Place your Advertisement here”"></a>
                </div>
                <!-- Widget of the page end -->
                <!-- Widget of the page -->
                <div class="widget widget_categories version-ii wow fadeInUp" data-wow-delay="0.6s">
                    <header class="widget-head">
                        <h3>Category</h3>
                    </header>
                    <ul>
                        <li class="cat-item cat-item-1"><span><a href="#">- Lifestyle</a></span><span><a href="#">- Lifestyle</a></span></li>
                        <li class="cat-item cat-item-1"><span><a href="#">- Movie</a></span><span><a href="#">- Movie</a></span></li>
                        <li class="cat-item cat-item-1"><span><a href="#">- Travel</a></span><span><a href="#">- Travel</a></span></li>
                        <li class="cat-item cat-item-1"><span><a href="#">- Sports</a></span><span><a href="#">- Sports</a></span></li>
                        <li class="cat-item cat-item-1"><span><a href="#">- Music</a></span><span><a href="#">- Music</a></span></li>
                    </ul>
                </div>
                <!-- Widget of the page end -->
            </aside>
            <!-- Sidebar of the page end -->
        </div>
    </div>
</main>
<!-- Main of the page end -->
{% endblock mainContent %}