{% extends "base.html" %}
{% block title %}{{lang.navHomeTitle}} {% endblock title %}

{% block mainContent %}
<!-- Main of the page -->

<main id="main" role="main">
    {% include 'components/blog/main_slider.html'%}
    <div id="twocolumns" class="container">
        <div class="row">
            <!-- Content of the page -->
            <div id="content" class="col-xs-12 col-md-8 pull-right">
                {% include 'components/search_mob.html'%}
                {% include 'components/profile_mob.html' %}
                {% include 'components/blog/post_blog.html' %}
            </div>
            <!-- Content of the page end -->
            <!-- Sidebar of the page -->
            <aside id="sidebar" class="col-xs-12 col-md-4 pull-left">
                {% include 'components/profile.html' %}                
                {% include 'components/search.html' %}
                {% include 'components/post_widget.html' %}
                {% include 'components/advert.html' %}
                {% include 'components/category.html' %}
            </aside>
            <!-- Sidebar of the page end -->
        </div>
    </div>
    {% include 'components/img_slider.html'%}
</main>
<!-- Main of the page end -->
{% endblock mainContent %}

