<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}} - {{testPageTitle}}</title>
</head>
<body>
    <h1>{{testPageHeaderText}}</h1>

    
    {% for nav in navigation_list%}
        {% if nav.is_external %}
            <a target='_blank' href="{{nav.url}}">{{nav}}</a>
        {% else %}
            <a href="{%url nav.url%}">{{nav}}</a>
        {% endif%}
    {% endfor %}


</body>
</html>