{% load static%}
<aside class="aside version-ii container">
    <div class="row">
        <div class="col-xs-12 holder">
            <div class="col">
                <div class="logo"><a href="#"><img src="{% static 'images/logo2.png' %}" alt="dot"></a></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                <!-- Social Network of the page -->
                <ul class="social-networks">
                    <li><a href="#"><span class="ico-facebook"></span></a></li>
                    <li><a href="#"><span class="ico-twitter"></span></a></li>
                    <li><a href="#"><span class="ico-google-plus"></span></a></li>
                    <li><a href="#"><span class="ico-linkedin"></span></a></li>
                    <li><a href="#"><span class="ico-pinterest"></span></a></li>
                </ul>
                <!-- Social Network of the page end -->
            </div>
            <!-- Footer Nav of the page -->
            <nav class="col footer-nav">
                <h3>Important Links</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>
            <!-- Footer Nav of the page end -->
            <!-- Footer Nav of the page -->
            <nav class="col footer-nav">
                <h3>Popular Links</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>
            <!-- Footer Nav of the page end -->
            <div class="col">
                <h3>Subscribe to Newsletter</h3>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</p>
                <!-- subscribe form of the page -->
                <form action="#" class="subscribe-form">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email here">
                        <button type="button" class="ico-send"></button>
                    </div>
                </form>
                <!-- subscribe form of the page end -->
            </div>
        </div>
    </div>
</aside>
<!-- Aside of the page end -->
<!-- Footer of the page -->
<footer id="footer" class="container version-ii">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <p>&copy; 2016 Copyright 2016, <a href="home.html">Dot</a>. All Rights Reserved</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <!-- Social Network of the page -->
            <ul class="social-networks">
                <li><a href="#"><span class="ico-facebook"></span></a></li>
                <li><a href="#"><span class="ico-twitter"></span></a></li>
                <li><a href="#"><span class="ico-google-plus"></span></a></li>
                <li><a href="#"><span class="ico-linkedin"></span></a></li>
                <li><a href="#"><span class="ico-pinterest"></span></a></li>
            </ul>
            <!-- Social Network of the page end -->
        </div>
    </div>
</footer>
<span id="back-top" class="fa fa-angle-up"></span>