{% load static%}
<header id="header" class="version-ii">
    <div class="container">
        <div class="row top-bar">
            <!-- Top Nav of the page -->
            <nav class="col-xs-12 col-sm-6 policy-nav">
                <ul>
                    <li><a href="#">sitemap</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">support</a></li>
                </ul>
            </nav>
            <!-- Top Nav of the page end -->
            <div class="col-xs-12 col-sm-6 pull-right hidden-xs">
                <!-- Social Network of the page -->
                <ul class="social-networks">
                    <li><a href="#"><span class="ico-facebook"></span></a></li>
                    <li><a href="#"><span class="ico-twitter"></span></a></li>
                    <li><a href="#"><span class="ico-google-plus"></span></a></li>
                    <li><a href="#"><span class="ico-linkedin"></span></a></li>
                    <li><a href="#"><span class="ico-pinterest"></span></a></li>
                </ul>
                <!-- Social Network of the page end -->
            </div>
        </div>
    </div>
    <div class="stick-holder">
        <div class="container">
            <div class="row holder">
                <div class="col-xs-3 col-sm-2">
                    <!-- Logo of the page -->
                    <div class="logo"><a href="home.html"><img src="{% static 'images/logo2.png'%}" alt="dot"></a></div>
                    <!-- Logo of the page end -->
                </div>
                <div class="col-xs-9 col-sm-10 nav-holder">
                    <!-- Nav of the page -->
                    <nav id="nav" class="navbar navbar-default">
                        <!-- Navbar Header of the page -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Navbar Header of the page end -->
                        <a href="#" class="pull-right icon-menu"><span class="ico-menu"></span></a>
                        <!-- Collapse of the page -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active" data-drop="drop-right">
                                    <a href="home.html">Home</a>
                                    <!-- drop of the page -->
                                    <div class="drop">
                                        <ul>
                                            <li>
                                                <a href="home.html">Home-V1</a>
                                                <!-- drop of the page -->
                                                <div class="drop">
                                                    <ul>
                                                        <li><a href="home-leftsidebar.html">left sidebar</a></li>
                                                        <li><a href="home-nosidebar.html">No sidebar</a></li>
                                                    </ul>
                                                </div>
                                                <!-- drop of the page end -->
                                            </li>
                                            <li>
                                                <a href="home-v2.html">Home-V2</a>
                                                <!-- drop of the page -->
                                                <div class="drop">
                                                    <ul>
                                                        <li><a href="home-v2-rightsidebar.html">Right sidebar</a></li>
                                                        <li><a href="home-v2-nosidebar.html">No sidebar</a></li>
                                                    </ul>
                                                </div>
                                                <!-- drop of the page end -->
                                            </li>
                                            <li>
                                                <a href="home-v3.html">Home-V3</a>
                                                <!-- drop of the page -->
                                                <div class="drop">
                                                    <ul>
                                                        <li><a href="home-v3-leftsidebar.html">left sidebar</a></li>
                                                            <li><a href="home-v3-rightsidebar.html">right sidebar</a></li>
                                                    </ul>
                                                </div>
                                                <!-- drop of the page end -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- drop of the page end -->
                                </li>
                                <li data-drop="drop-right">
                                    <a href="single-post.html">blog</a>
                                    <!-- drop of the page -->
                                    <div class="drop">
                                        <ul>
                                            <li>
                                                <a href="single-post.html">detail-v1</a>
                                                <!-- drop of the page -->
                                                <div class="drop">
                                                    <ul>
                                                        <li><a href="post-left-sidebar-v1.html">left sidebar</a></li>
                                                        <li><a href="post-detail-nosidebar.html">nosidebar</a></li>
                                                        <li><a href="post-detail-audio-v1.html">post detail audio</a></li>
                                                        <li><a href="post-detail-slider-v1.html">post detail slider</a></li>
                                                        <li><a href="post-detail-video-v1.html">post detail video</a></li>
                                                    </ul>
                                                </div>
                                                <!-- drop of the page end -->
                                            </li>
                                            <li>
                                                <a href="single-postv2.html">detail-v2</a>
                                                <!-- drop of the page -->
                                                <div class="drop">
                                                    <ul>
                                                        <li><a href="post-left-sidebar-v2.html">left sidebar</a></li>
                                                        <li><a href="right-sidebar-v2.html">right sidebar</a></li>
                                                        <li><a href="post-detail-audio-v2.html">post detail audio</a></li>
                                                        <li><a href="post-detail-slider-v2.html">post detail slider</a></li>
                                                        <li><a href="post-detail-video-v2.html">post detail video</a></li>
                                                    </ul>
                                                </div>
                                                <!-- drop of the page end -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- drop of the page end -->
                                </li>
                                <li data-drop="drop-right"><a href="archive.html">archive</a></li>
                                <li>
                                    <a href="#">Pages</a>
                                    <!-- drop of the page -->
                                    <div class="drop">
                                        <ul>
                                            <li><a href="404-error.html">404 error</a></li>
                                            <li><a href="coming-soon.html">coming soon</a></li>
                                        </ul>
                                    </div>
                                    <!-- drop of the page end -->
                                </li>
                                <li><a href="#">Shortcodes</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Collapse of the page end -->
                    </nav>
                    <!-- Nav of the page -->
                </div>
            </div>
        </div>
    </div>
    <!-- Side Nav of the page -->
    <nav class="side-nav">
        <a href="#" class="close"><i class="fa fa-times"></i></a>
        <!-- Widget of the page -->
        <h2>About me</h2>
        <section class="widget profile-widget">
            <div class="profile-pic">
                <a href="#">
                    <img src="http://placehold.it/215x215" alt="John Aston">
                </a>
            </div>
            <h3><a href="#">John Aston</a></h3>
            <p>Hi, I am John Aston. Duis autem vel eum dolor in hendrerit in vulputate velit esse mole consequat, vel illum dolore eu feugiat nulla lisis at vero eros et accumsan et iusto.</p>
            <!-- Social Network of the page -->
            <ul class="social-networks">
                <li><a href="#"><span class="icon ico-facebook"></span></a></li>
                <li><a href="#"><span class="icon ico-twitter"></span></a></li>
                <li><a href="#"><span class="icon ico-google-plus"></span></a></li>
                <li><a href="#"><span class="icon ico-linkedin"></span></a></li>
                <li><a href="#"><span class="icon ico-pinterest"></span></a></li>
            </ul>
            <!-- Social Network of the page end -->
        </section>
        <!-- Widget of the page end -->
    </nav>
    <!-- Side Nav of the page end -->
</header>