    <!-- Instagram Slider of the page -->
    <div class="instagram-slider version-ii container-fluid">
        <div class="row">
            <div class="mask">
                <div class="slideset">
                    {% for singlePost in postList%}
                    <div class="slide">
                        <a href="#"><img src="{{singlePost.image.url}}" alt="image description"></a>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Slider of the page end -->