    <!-- Instagram Slider of the page -->
    <div class="instagram-slider version-ii container-fluid">
        <div class="row">
            <div class="mask">
                <div class="slideset">
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                    <div class="slide">
                        <a href="#"><img src="http://placehold.it/275x240" alt="image description"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Slider of the page end -->