<!-- Widget of the page -->
<section class="widget recent-posts-widget version-ii wow fadeInUp" data-wow-delay="0.6s">
    <header class="tab-head">
        <h3><a class="active" href="#tab1">Recent Posts</a></h3>
        <h3><a href="#tab2">Popular Posts</a></h3>
    </header>
    <div class="tab-content">
        <div id="tab1">
            <ul>
                {%for singlePost in postList|slice:":5"%}
                <li>
                    <div class="alignleft">
                        <img src="{{singlePost.image.url}}" alt="image description">
                    </div>
                    <div class="descr">
                        <h4><a href="#">{{singlePost.title}}<br></a></h4>
                        <span class="post-tag">
                            <time datetime="2011-01-12"><a href="#">{{singlePost.date}}</a></time>
                        </span>
                    </div>
                </li>
                {%endfor%}
            </ul>
        </div>
        <div id="tab2">
            <ul>
                {%for singlePost in postList|slice:":5"%}
                <li>
                    <div class="alignleft">
                        <img src="{{singlePost.image.url}}" alt="image description">
                    </div>
                    <div class="descr">
                        <h4><a href="#">{{singlePost.title}}<br></a></h4>
                        <span class="post-tag">
                            <time datetime="2011-01-12"><a href="#">{{singlePost.date}}</a></time>
                        </span>
                    </div>
                </li>
                {% endfor%}
            </ul>
        </div>
    </div>
</section>
<!-- Widget of the page end -->