<!-- Widget of the page -->
<section class="widget recent-posts-widget version-ii wow fadeInUp" data-wow-delay="0.6s">
    <header class="tab-head">
        <h3><a class="active" href="#tab1">Recent Posts</a></h3>
        <h3><a href="#tab2">Popular Posts</a></h3>
    </header>
    <div class="tab-content">
        <div id="tab1">
            <ul>
                <li>
                    <div class="alignleft">
                        <img src="http://placehold.it/75x75" alt="image description">
                    </div>
                    <div class="descr">
                        <h4><a href="single-post.html">Traveling is awesome if you <br>can enjoy.</a></h4>
                        <span class="post-tag">
                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="alignleft">
                        <img src="http://placehold.it/75x75" alt="image description">
                    </div>
                    <div class="descr">
                        <h4><a href="single-post.html">I get up in the morning looking <br>for an adventure.</a></h4>
                        <span class="post-tag">
                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="alignleft">
                        <img src="http://placehold.it/75x75" alt="image description">
                    </div>
                    <div class="descr">
                        <h4><a href="single-post.html">Holiday is awesome when loved <br>one beside me.</a></h4>
                        <span class="post-tag">
                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="tab2">
            <ul>
                <li>
                    <div class="alignleft">
                        <img src="http://placehold.it/75x75" alt="image description">
                    </div>
                    <div class="descr">
                        <h4><a href="single-post.html">Holiday is awesome when loved <br>one beside me.</a></h4>
                        <span class="post-tag">
                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="alignleft">
                        <img src="http://placehold.it/75x75" alt="image description">
                    </div>
                    <div class="descr">
                        <h4><a href="single-post.html">Traveling is awesome if you <br>can enjoy.</a></h4>
                        <span class="post-tag">
                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="alignleft">
                        <img src="http://placehold.it/75x75" alt="image description">
                    </div>
                    <div class="descr">
                        <h4><a href="single-post.html">I get up in the morning looking <br>for an adventure.</a></h4>
                        <span class="post-tag">
                            <time datetime="2011-01-12"><a href="#">25th may</a></time>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Widget of the page end -->